Repository glandjs/glandjs.github.io, pull requests merged in 2025-04, with the labels that each got.

#9 Migrate to Starlight's Tailwind template
  .gitignore
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/favicon.svg
  public/global.css
  src/assets/houston.webp
  src/components/CodeBlock.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Sidebar.astro
  src/content.config.ts
  src/content/docs/guides/example.md
  src/content/docs/index.mdx
  src/content/docs/reference/example.md
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/overview/index.astro
  src/sections/CodeExampleSection.mdx
  src/sections/CommunitySection.astro
  src/sections/CtaSection.astro
  src/sections/FeatureSection.astro
  src/sections/HeroSection.astro
  src/styles/global.css
  src/tailwind.css
  tailwind.config.js
  tailwind.config.mjs
Labels: documentation, documentation-update, new-page, structure-improvement

#12 feat(docs): initial site structure, layout, and landing section setup
  astro.config.mjs
  src/assets/houston.webp
  src/assets/logo.png
  src/components/ContentPanel.astro
  src/components/FeatureCard.astro
  src/components/Header.astro
  src/components/PageTitle.astro
  src/components/home/HeroSection.astro
  src/components/home/TestimonialsSection.astro
  src/components/home/Tweet.astro
  src/content/docs/guides/example.md
  src/content/docs/index.mdx
  src/content/docs/reference/example.md
  src/layouts/Main.astro
  src/sections/CodeExampleSection.mdx
  src/sections/CommunitySection.astro
  src/sections/FeatureSection.astro
  src/tailwind.css
Labels: documentation, documentation-update, new-page, discussion, structure-improvement

#13 fix: fix syntanc hilight
  src/components/Header.astro
  src/components/home/HeroSection.astro
  src/layouts/Main.astro
  src/tailwind.css
Labels: bug, documentation-update

#14 add new layout and new page
  astro.config.mjs
  ec.config.mjs
  package.json
  pnpm-lock.yaml
  src/assets/logo.svg
  src/components/Header.astro
  src/components/home/HeroSection.astro
  src/content.config.ts
  src/content/docs/documentation/index.mdx
  src/content/docs/index.mdx
  src/layouts/Layout.astro
  src/layouts/Main.astro
  src/styles/tailwind.css
  tailwind.config.mjs
  tsconfig.json
Labels: documentation, documentation-update, new-page, structure-improvement
